# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.



title: Alec's Tech Blog
email: alecjmaly@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  I'm just a guy that does things sometimes.
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://alecmaly.com" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  alecmaly
youtube_username: AlecM
linkedin_username: alecmaly


# Build settings
# theme: minima
theme: jekyll-theme-hacker


plugins:
  - jekyll-toc
  - jekyll-feed

# post page - pagination
paginate: 10

future: false

## 3d Party 
# Google analytics
# google_analytics: UA-...
google_analytics_gtag: G-JF1EELZBK6


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - readme.md     # start custom files
  - tag_generator.py



# debug
debug: false