---
---
@import "{{ site.theme }}";







$top_nav_height: 140px;

// mobile variables
$mobile_maxWidth: 900px;
$navLinkSize: 1.5em;
$navLinkSize_mobile: 1.1em;

$titleSize: 2em; 
$titleSize_mobile: 1.4em; 

// colors
$linkPink: rgb(216, 29, 216);
$linkPurple: rgb(98, 16, 250);
$linkGreen: #b5e853;
$orange: orange;
$bannerColor: #1d1d1d;


:root {
  --title-size: 2em;
  --title-size-mobile: 1em;
}


//  THEMES

.light-mode {
  background: rgb(235, 235, 235);
  color: black;
  --color-background: #f8f9fa;
  --color-background-inverse: #111;
  --color-banner: rgb(225, 225, 225);
  --color-input: #fff;
  --color-surface: #eee;
  --color-text: #000;
  --color-title: #111;
  --color-title-inverse: #ddd;
  --color-primary: #0080ff;
  --color-secondary: #32bbff;
  --color-top-nav-link: LightSeaGreen;
  --color-link: #18a7c1;
  --color-link-secondary: rgb(37, 226, 147);
  --color-link-hover: rgb(216, 29, 216);
  --color-codeblock-label:rgb(231, 84, 129);
  --hr: black;
  
  .toggle-icon {
    color: black;
  }
  
  .site-header {
    color: rgb(17, 17, 17) !important;
    text-shadow: 0 0 1px rgb(17, 17, 17 / .5);;
  }

  h1,h2,h3,h4,h5,h6 {
    color: var(--color-title);
    // text-shadow: 0 0 1px rgb(17, 17, 17 / .5);;
  }

  a {
    color: var(--color-link);
    text-shadow: 0 0 1px rgb(26, 177, 204 / .5);
  }

  a:hover:not(.icon) {
    text-shadow: 0 0 1px rgb(216, 29, 216 / .5);
  }

  // codeblocks 
  .codeblock-label {
    text-align: center;
    font-weight: bold;
    color: var(--color-codeblock-label);
    text-shadow: 0 0 .5px rgb(231, 84, 129 / .5);
  }

  .icon:hover {
    color: rgb(77, 188, 224)
  }
}


.dark-mode {
  background: #151515 ;
  color: #eaeaea;
  --color-background: #151515;
  --color-background-inverse: #111;
  --color-banner: #1d1d1d;
  --color-input: #fff;
  --color-surface: #eee;
  --color-text: #000;
  --color-title: #b5e853;
  --color-title-inverse: #ddd;
  --color-primary: $linkGreen;
  --color-secondary: #32bbff;
  --color-top-nav-link: #f0f0f0;
  --color-link: #63c0f5;
  // --color-link-shadow: 99, 192, 245;
  --color-link-secondary: rgb(98, 16, 250);
  --color-link-hover: rgb(216, 29, 216);
  --color-codeblock-label: rgb(255, 166, 0);
  --hr: #b5e853;

  .toggle-icon {
    color: white;
  }

  .site-header {
      color: var(--color-title) !important;
      text-shadow: 0 0 5px rgba(181, 232, 83, .5) !important;
  }

  h1,h2,h3,h4,h5,h6 {
    color: var(--color-title);
    text-shadow: 0 0 5px rgba(181, 232, 83, .5) !important;
  }

  a {
    color: var(--color-link);
    text-shadow: 0 0 3px rgb(99, 192, 245 / .5);
  }

  a:hover {
    text-shadow: 0 0 2px rgb(216, 29, 216 / .5);
  }
  
  // codeblocks 
  .codeblock-label {
    text-align: center;
    font-weight: bold;
    color: var(--color-codeblock-label);
    text-shadow: 0 0 .5px rgb(255, 166, 0 / .5);
  }

  // make bold font more readable in dark mode
  strong {
    font-family: "Arial Black";
  }
}

strong {  
  font-weight: 900;
}

.light-mode li {  
  list-style-image: none;
}

hr {
  color: var(--hr); 
  border-bottom: 1px dashed var(--hr);
}

// END THEME

// about me page
.public-profile {
  background-color:#eee; 
  border-radius:7px; 
  margin: 5px;
  padding: 3px;
}

.certification-profile {
  max-width: 7.75em;
}


.page-title {
  text-align: center;
  font-weight: semibold
}

.site-header {
  font-size: $titleSize;
}

.custom-h1-header {
  color: var(--color-title) !important;
  font-size: 1.75em;
}

.currently-learning {
  color: $orange;
  text-shadow: 0 0 1px rgba(orange, .5);
}

#a-title h1 {
  font-size: $titleSize;
}

// MISC
.tag {
  text-decoration: none;
}

.container {
  max-width: 1500px;
}


// PREVIOUS | NEXT POST
.PageNavigation {
  font-size: $navLinkSize;
  display: block;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}


.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: .01em 0;
}

.PageNavigation .next {
  text-align: right;
}


// TOP NAV
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.icon-right {
  font-size: $navLinkSize;
  float: right;
  margin: 0;
  padding: 0;
}

.top-nav {
  ul {
    font-size: $navLinkSize;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {  
    display: inline;  // inline-block does not work on safari
    // margin-right: 5px;
    // border-right:1px solid #bbb;
    list-style-image: none;
  }
  
  li:last-child {
    border-right: none;
  }
  
  // tighen logos on top right
  li a {
    margin: -2px -2px;
  }

  li a:not(.icon) {
    color: var(--color-top-nav-link);
    position: relative;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      right: 0px;
      bottom: -3px;
      left: 0px;
      background-color: var(--color-link-hover);
    }

    &:hover {
      color: var(--color-link-hover);

      &::before {
          background: linear-gradient(to right, var(--color-link-hover) 40%, var(--color-link-secondary) 75%);     
      }
  }
  }
}



// hover on all links
a:hover {
  color: var(--color-link-hover);

  &::before {
      background: linear-gradient(to right, var(--color-link) 40%, var(--color-link-secondary) 75%);
  }
}



// Table of contents
.table-of-contents li {
  list-style-image: none;
}


body {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  line-height: 1.475;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: var(--color-banner);
}

main {
  flex: 1;
}


// Jump to top button

#jump-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}

#jump-to-top-btn:hover {
  background-color: #555;
}


// mobile view transformations
@media only screen and (max-width: $mobile_maxWidth) {  
  .site-header {
    font-size: $titleSize_mobile;
  }

  #a-title h1 {
    font-size: $titleSize_mobile;
  }  

  .PageNavigation {
    font-size: $navLinkSize_mobile;
  }

  .top-nav ul {
    font-size: $navLinkSize_mobile;
  }

  .icon-right {
    font-size: $navLinkSize_mobile;
  }
}

// Fix TOC jump to proper height (due to fixed navbar)
// FIX TO BE MORE DYNAMIC!! 
#main_content h2,h3,h4,h5,h6 {
  // display: block;
  padding-top: $top_nav_height;
  margin-top: -$top_nav_height
}

// debug data
#debug-data {
  margin-right: 10px;
  float: right;
}





// // light theme
// .site-header {
//   background: rgb(235, 235, 235);
//   color: black;
// }

// header {
//   background: rgb(220, 220, 220);
//   color: black
// }

// body {
//   color: black;
//   background:rgb(235, 235, 235);
// }

// h1,h2,h3,h4,h5,h6 {
//   color: black
// }

// a {
//   color: blue;
// }

// .icon {
//   color: lightblue
// }

.icon-social-media {
  text-decoration: none;
  font-size: 1.7em;
}


header {
  border-bottom: 1px dashed var(--hr)
}



// switch


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#btn-theme {
  border: none;
  line-height: 3em;
  vertical-align: middle;
  background: none;
}