---
---
@import "{{ site.theme }}";


$top_nav_height: 140px;

// mobile variables
$mobile_maxWidth: 900px;
$navLinkSize: 1.5em;
$navLinkSize_mobile: 1.1em;

$titleSize: 2em; 
$titleSize_mobile: 1.4em; 

// colors
$linkPink: rgb(216, 29, 216);
$linkPurple: rgb(98, 16, 250);
$linkGreen: #b5e853;
$orange: orange;
$bannerColor: #1d1d1d;


.site-header {
  color: $linkGreen !important;
  font-size: $titleSize;
}

.custom-h1-header {
  color: $linkGreen !important;
  font-size: 1.75em;
}

.currently-learning {
  color: $orange
}

#a-title h1 {
  font-size: $titleSize;
}

// MISC
.tag {
  text-decoration: none;
}

.container {
  max-width: 1500px;
}


// PREVIOUS | NEXT POST
.PageNavigation {
  font-size: $navLinkSize;
  display: block;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}


.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: .01em 0;
}

.PageNavigation .next {
  text-align: right;
}


// TOP NAV
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.mail-icon {
  font-size: $navLinkSize;
  float: right;
  margin: 0;
  padding: 0;
}

.top-nav {
  ul {
    font-size: $navLinkSize;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {  
    display: inline;  // inline-block does not work on safari
    // margin-right: 5px;
    // border-right:1px solid #bbb;
    list-style-image: none;
  }
  
  li:last-child {
    border-right: none;
  }
  
  // tighen logos on top right
  li a {
    margin: -2px -2px;
  }

  li a:not(.icon) {
    color: #f0f0f0;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      right: 0px;
      bottom: -3px;
      left: 0px;
      background-color: $linkPink;
    }

    &:hover {
      color: $linkPink;

      &::before {
          background: linear-gradient(to right, $linkPink 40%, $linkPurple 75%);     
      }
  }
  }
}



// hover on all links
a:hover {
  color: $linkPink;

  &::before {
      background: linear-gradient(to right, $linkPink 40%, $linkPurple 75%);
  }
}



// Table of contents
.table-of-contents li {
  list-style-image: none;
}





body {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: $bannerColor;
}

main {
  flex: 1;
}


// codeblocks 
.codeblock-label {
  text-align: center;
  font-weight: bold;
  color: $orange;

  /*  adding a gradient to text */
  // background: -webkit-linear-gradient(135deg, $linkPink 40%, $linkPurple 75%);
  // background-clip: text;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;       
}




// Jump to top button

#jump-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}

#jump-to-top-btn:hover {
  background-color: #555;
}


// mobile view transformations
@media only screen and (max-width: $mobile_maxWidth) {  
  .site-header {
    color: $linkGreen !important;
    font-size: $titleSize_mobile;
  }

  #a-title h1 {
    font-size: $titleSize_mobile;
  }  

  .PageNavigation {
    font-size: $navLinkSize_mobile;
  }

  .top-nav ul {
    font-size: $navLinkSize_mobile;
  }

  .mail-icon {
    font-size: $navLinkSize_mobile;
  }
}

// Fix TOC jump to proper height (due to fixed navbar)
// FIX TO BE MORE DYNAMIC!! 
#main_content h2,h3,h4 {
  // display: block;
  padding-top: $top_nav_height;
  margin-top: -$top_nav_height
}

// debug data
#debug-data {
  margin-right: 10px;
  float: right;
}