---
---

@import "{{ site.theme }}";

// MISC
.tag {
  text-decoration: none;
}


// PREVIOUS | NEXT POST
.PageNavigation {
  font-size: 1.1em;
  display: block;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}



// TOP NAV
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$linkPink: rgb(216, 29, 216);
$linkPurple: rgb(98, 16, 250);
$bannerColor: #1d1d1d;


.top-nav {
  ul {
    font-size: 1.125em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {  
    display: inline;  // inline-block does not work on safari
    // margin-right: 5px;
    // border-right:1px solid #bbb;
    list-style-image: none;
  }
  
  li:last-child {
    border-right: none;
  }
  
  // tighen logos on top right
  li a {
    margin: -2px -2px;
  }

  li a:not(.icon) {
    color: #f0f0f0;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      right: 0px;
      bottom: -3px;
      left: 0px;
      background-color: $linkPink;
    }

    &:hover {
      color: $linkPink;

      &::before {
          background: linear-gradient(to right, $linkPink 40%, $linkPurple 75%);               
      }
  }
  }
}



// hover on all links
a:hover {
  color: $linkPink;

  &::before {
      background: linear-gradient(to right, $linkPink 40%, $linkPurple 75%);
  }
}




body {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $bannerColor;
}

main {
  flex: 1;
}