---
---
@import "{{ site.theme }}";


// mobile variables
$mobile_maxWidth: 500px;
$navLinkSize: 1.5em;
$navLinkSize_mobile: 1.2em;

$titleSize: 2em; 
$titleSize_mobile: 1.5em; 

// colors
$linkPink: #e22ce2; //rgb(216, 29, 216);
$linkPurple: rgb(98, 16, 250);
$linkGreen: #b5e853;
$codeblockColor: orange;
$bannerColor: #1d1d1d;



#a-title h1 {
  font-size: $titleSize;
}

// MISC
.tag {
  text-decoration: none;
}

.container {
  max-width: 1500px;
}


// PREVIOUS | NEXT POST
.PageNavigation {
  font-size: $navLinkSize;
  display: block;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}


.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: .01em 0;
}

.PageNavigation .next {
  text-align: right;
}



// TOP NAV
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.top-nav {
  ul {
    font-size: $navLinkSize;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {  
    display: inline;  // inline-block does not work on safari
    // margin-right: 5px;
    // border-right:1px solid #bbb;
    list-style-image: none;
  }
  
  li:last-child {
    border-right: none;
  }
  
  // tighen logos on top right
  li a {
    margin: -2px -2px;
  }

  li a:not(.icon) {
    color: #f0f0f0;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      right: 0px;
      bottom: -3px;
      left: 0px;
      background-color: $linkPink;
    }

    &:hover {
      color: $linkPink;

      &::before {
          background: linear-gradient(to right, $linkPink 40%, $linkPurple 75%);     
      }
  }
  }
}



// hover on all links
a:hover {
  color: $linkPink;

  &::before {
      background: linear-gradient(to right, $linkPink 40%, $linkPurple 75%);
  }
}



// Table of contents
.table-of-contents li {
  list-style-image: none;
}





body {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: $bannerColor;
}

main {
  flex: 1;
}


// codeblocks 
.codeblock-label {
  text-align: center;
  font-weight: bold;
  color: $codeblockColor;

  /*  adding a gradient to text */
  // background: -webkit-linear-gradient(135deg, $linkPink 40%, $linkPurple 75%);
  // background-clip: text;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;       
}




// Jump to top button

#jump-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}

#jump-to-top-btn:hover {
  background-color: #555;
}


// mobile view transformations
@media only screen and (max-width: $mobile_maxWidth) {
  #a-title h1 {
    font-size: $titleSize_mobile;
  }  

  .PageNavigation {
    font-size: $navLinkSize_mobile;
  }

  @media only screen and (max-width: $mobile_maxWidth) {
    .top-nav ul {
      font-size: $navLinkSize_mobile;
    }
  }
}

// Fix TOC jump to proper height (due to fixed navbar)
// FIX TO BE MORE DYNAMIC!! 
#main_content h1:before {
  content: "";
  display: block;
  height: 150px;
  margin: -150px 0 0;
}